:root{
    --color-letra: #fff;
    --color-fondos: #fb4c0d;
    --color-fondo-html:#020202;
    --color-fondosn:#181818;
    --color-fondobotones: #252525;
    --color-bordes: #303030;
}

*{
    margin: 0%;
    padding: 0%;
    font-family: "Poppins", sans-serif;
}

html{
    background-image: url("../img/fondo_icon.png");
}

.cont-t{
position:relative;
left: 14vw;
display:inline-block;
margin:1%;
height: 68vw;
width: 85vw;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
