
.cont-body-turnos {
    position: relative;
    display: flex;
    margin: 10vh;
    height: 90vh;
    width: 85vw;
    background: #151515;
    border-radius: 35px;
    border: 1.5px solid orangered;
}

.cont-turnos-asignados {
    position: flex;
    border-top: none;
    border-bottom: none;
    border-right: 2px solid orangered;
    border-left: none;
    height: 90vh;
    width: 50%;
    border-top-right-radius: 0%;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 30px;
}

.header {
    position: relative;
    top: 0%;
    left: 0%;
    height: 8%;
    width: 100%;
    border-top: none;
    border-bottom: 2px solid orangered;
    border-right: none;
    border-left: none;
    border-top-right-radius: 0%;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0px;
    text-align: center;
}

.header p {
    margin-top: 8%;
    color: white;
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
}

.turno-a {
    position: relative;
    top: 0%;
    left: 0%;
    height: 18%;
    width: 88%;
    margin-top: 8%;
    margin-left: 5%;
    border: 1px solid orangered;
    border-radius: 5px;
    color: #fff;
}

.cont-calendario-seleccionar {
    position: flex;
    height: 90vh;
    width: 50%;
    border-top-right-radius: 30px;
    border-top-left-radius: 0%;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 0%;
}

.header2 {
    position: relative;
    top: 0%;
    left: 0%;
    height: 8%;
    width: 100%;
    border-top: none;
    border-bottom: 2px solid orangered;
    border-right: none;
    border-left: none;
    border-top-right-radius: 0%;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0px;
    text-align: center;
}

.header2 p {
    margin-top: 8%;
    color: white;
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
}

.boton{
	position: relative;
	top:-95%;
	left:60%;
	color: white;
    background: #050505;
    height: 35%;
    width: 30%;
    margin: 1%;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
}

.boton:hover
{
color: #FB4C0D;
border: 1px solid #fb4c0d;
cursor: pointer;
font-family: 'Josefin Sans', sans-serif;
}
