:root{
    --color-letra: #fff;
    --color-fondos: #fb4c0d;
    --color-fondo-html:#020202;
    --color-fondosn:#181818;
    --color-fondobotones: #252525;
    --color-bordes: #303030;
}

*{
    margin: 0%;
    padding: 0%;
}

.main_content {
    width: 80%;
    padding-bottom: 3%;
    margin-left: 15vw;
}

/*---------------------------------------------------*/
.izquierda {
    width: 45VW;
    height: fit-content;
    margin-left: 2px;
    position: absolute;
    margin-top: 5vh;
}

.derecha {
    width: 30%;
    height: 40em;
    margin-left: 50vw;
    position: flex;
}

.izq{
    position: relative;
    left: 15vw;
    margin-top: 2.6%;
    margin-left: 2%;
    margin-bottom: 2vh;
    height: fit-content;
    width: 30vw;
}

.der{
    position: relative;
    height: fit-content;
    width: 40vw;
    margin-left: 22%;
    margin-top: 2.6%;
    margin-bottom: 9%;
}

.izqui{
    position: relative;
    left: 15vw;
    margin: 2%;
    height: 60vh;
    width: 30vw;
    text-align: justify;
}

.dere{
    position: absolute;
    top: 0vh;
    left: 52vw;
    height: 90vh;
    width: 40vw;
    margin: 2%;
}

/*---------------------------------------------------*/
.imgp{
    margin-left: 40%;
    max-width: 10vw;
    max-height: 10vh;
    background-color: var(--color-fondosn);
    border-radius:100%;
    position: absolute;
    margin-top:10px;
}
.nombre{
    margin-top: 7em;
    margin-left: 40%;
    margin-left: 40%;
    color:var(--color-letra);
    font-size: 20px;
}

.progreso{
    margin-top: 1vh;
    margin-left: 3vh;
    color:var(--color-letra);
    font-size: 18px;
}

.progresoform{
    width: 100%;
    height: 30em;
    color:var(--color-letra);
    margin-left: 3.5%;
    margin-top: 1em;
    margin-bottom: 3em;
}

.progresoform p {
    font-size: 18px;
    margin-top: 1em;
    color: var(--color-letra);
}

.orange{
    position: relative;
    margin-top: 1em;
    margin-left: 2%;
    margin-bottom: 2em;
    height: 3.5em;
    width: 35%;
}

.botonenviar{
    position: flex;
    margin: 3%;
    height: 3.0em;
    width: 40%;
}

/* main */

/* Inicio Izquierda cliente y entrenador */
.turnoultimo{
    width: 95%;
    height: 20%;
    background: var(--color-fondos) ;
    border-radius: 10px;
    border: none;
    margin: 3%;
}

.turnoultimo p{
    font-size: 18 px;
    margin-top: 3vh;
    margin-left: 5vh;
    color: var(--color-letra);
}
/* Fin Izquierda cliente y entrenador */


