:root{
    --color-letra: #fff;
    --color-fondos: #fb4c0d;
    --color-fondo-html:#020202;
    --color-fondosn:#181818;
    --color-fondobotones: #252525;
    --color-bordes: #303030;
}

*{
    margin: 0%;
    padding: 0%;
}

html{
    background-image: url("../img/fondo_icon.png");
}


body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    background: url(https://synergym.es/assets/images/gyms/global/2018/08/Base_FAQ_Background_Synergym_web.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-letra);
}

.container-form {
    width: 95vw;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    transition: all .5s ease-out;
}

.welcome-back {
    display: flex;
    align-items: center;
    text-align: center;
}

.message {
    padding: 1rem;
}

.message h2 {
    font-size: 1.7rem;
    padding: 1rem 0;
}

.message button {
    padding: 1rem;
    font-weight: 400;
    background-color: var(--color-fondos);
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .9rem;
    margin-top: 1vh;
    transition: all .3s ease-in;
    color:var(--color-letra);
}

.message button:hover {
    color: black;
    background-color: var(--color-fondos);
}

.formulario {
    position: relative;
    top: -6vh;
    border-radius: 15px;
    width: 60vh;
    height: fit-content;
    padding: 1rem;
    margin: 2rem;
    background-color: rgb(15, 15, 15, 0.902);
    text-align: center;
}

.create-account {
    padding:  1.8rem 0;
    font-size: 1.7rem;
}

.iconos {
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.border-icon {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin white;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .3s ease-in;
}

.border-icon:hover {
    background-color: var(--color-fondos);
    cursor: pointer;
}

.cuenta-gratis {
    padding: 1rem 0;
}

.formulario input {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 3.5vh;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: #fff;
}

.formulario input:focus {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: var(--color-fondos) thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: white;
}

.btn-r{
    display:block;
    position: flex;
    margin: 3vh;
    height: 6.5vh;
    width: 15%;
    text-align: center;
    background: var(--color-fondobotones);
    color: var(--color-letra);
    border:3px solid var(--color-bordes-normales) ;
    border-radius: 15px;
    transition: 0.5s;
    cursor:pointer;
    font-size: 15px;
}

.btn-r:hover{
    background: var(--color-fondobotones);
    border: 1px solid var(--color-fondos);
    cursor: pointer;
    transform: scale(1.1);
}


.sign-in {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.sign-in.active {
    opacity: 1;
    visibility: visible;
}

.sign-up.active {
    opacity: 0;
    visibility: hidden;
}