:root{
    --color-letra: #fff;
    --color-fondos: #fb4c0d;
    --color-fondo-html:#020202;
    --color-fondosn:#181818;
    --color-fondobotones: #252525;
    --color-bordes: #303030;
}

*{
    margin: 0%;
    padding: 0%;
    font-family: "Lucida Console", "Courier New", monospace;
}
html{
    background-image: url("../img/fondo_icon.png");
}


hr{
    margin-left: 15%;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 75vw;
    color: var(--color-fondos);
}

h2 {
    color: var(--color-letra);
    text-align: center;
}


.ejercicio
{
    position: relative;
    margin: 4.5%;
    height: 30vh;
    width: 92%;
    background: var(--color-fondosn);
    border-radius: 20px;
    border: 2px solid var(--color-fondos);
    
}

.ejercicio p
{
    margin: 2%;
    color: var(--color-letra) ;
    font-size: 22px ;
    text-align: justify;
}

.ingreso
{
    position: relative;
    margin-top: 5vh;
    margin-left: 5vh;
    margin-bottom: 2vh;
    height: 3.5vh;
    width: 25%;
    text-align: center;
    background: var(--color-fondobotones);
    color: var(--color-letra);
    border:3px solid var(--color-bordes-normales) ;
    border-radius: 15px;
    transition: 1.2s;
    cursor:pointer;
    font-size: 15px;
}

.ingreso:focus
{
    border: 1px solid var(--color-fondos);
    cursor: pointer;
    transform: scale(1.1);
}


.btng
{
    position: relative;
    margin-top: 3vh;
    margin-bottom: 3vh ;
    margin-left: 5vw;
    margin-right: 0vh;
    height: 6.5vh;
    width: 15%;
    text-align: center;
    background: var(--color-fondobotones);
    color: var(--color-letra);
    border:3px solid var(--color-bordes-normales) ;
    border-radius: 15px;
    transition: 1.2s;
    cursor:pointer;
    font-size: 15px;
}

.btng:hover
{
    border: 1px solid var(--color-fondos);
    cursor: pointer;
    transform: scale(1.1);
}