:root{
    --color-letra: #fff;
    --color-fondos: #fb4c0d;
    --color-fondo-html:#020202;
    --color-fondosn:#181818;
    --color-fondobotones: #252525;
    --color-bordes: #303030;
}

*{
    margin: 0%;
    padding: 0%;
    font-family: "Lucida Console", "Courier New", monospace;
}
html{
    background-image: url("../img/fondo_icon.png");
}



body {
    background: var(--color-fondo-html);
    min-width: 100vh;
    min-height: 100vw;
    text-align: justify;
}

header {
    top: 0%;
    left: 0%;
    height: 8vh;
    width: 100%;
}

a {
    text-decoration: none;
    outline: none;
}


/* fin configuracion css*/


/* NO TOCAR */


/* inicio estilo header */

.barranav {
    position: sticky;
    height: 100%;
    width: 100%;
    
}

.contenedorbtnnav {
    max-width: 1000px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.contenedorbtnnav a {
    color: #fff;
    display: inline-block;
    padding: 3vh;
    width: 100%;
    text-align: center;
    color: #fff;
    transition: .8s ease-out all;
}

.contenedorbtnnav a:hover {
    background: var(--color-fondos);
    color: var(--color-letra);
    text-decoration: none;
}


/* fin estilo header */


/* NO TOCAR*/


/* NO TOCAR*/


/* comienzo estilo footer (pie de pagina) */

.barracontacto {
    position: relative;
    top: 110vh;
    height: 25%;
    width: 100%;
    color: var(--color-letra);
    text-align: justify;
    background: linear-gradient(0deg, var(--color-fondos), transparent);
}

.titulo2 {
    width: 80%;
    margin: 3.5%;
    color: #ffffff;
}

.linkcontacto {
    height: 40%;
    width: 80%;
    text-align: left;
}

.linkcontacto i {
    margin-top: 0;
    margin-right: 1%;
    margin-left: 6.5%;
    margin-bottom: 3.5%;
    font-size: 3.2vh;
    color: #000;
}

.linkcontacto a {
    font-size: 20px;
    margin-left: 1%;
    text-decoration: none;
    color: #fff;
}

.barracontacto p {
    font-size: 20px;
    margin-top: 0;
    margin-left: 3.5%;
    margin-right: 0;
    margin-bottom: 3.5%;
    text-decoration: none;
    color: #fff;
    text-align: justify;
}

.linkcontacto a:hover {
    color: #000;
}


/* fin estilo footer (pie de pagina) */


/* NO TOCAR*/


/* inicio estilo contenedor de imagen y div presentacion */

.contenedorimagen img {
    position: relative;
    height: 100vh;
    width: 100%;
    text-align: center;
}

.contenedorimagen {
    position: relative;
    height: 80vh;
    width: 100%;
    text-align: center;
}

.imgemus {
    width: 100vw;
    height: 100vw;
}

.contenedorpresentacion {
    position: absolute;
    top: 15%;
    left: 5%;
    height: fit-content;
    width: 65vh;
    color: #ffffff;
    border-radius: 30px;
    text-align: left;
    font-size: medium;
}

.contenedorpresentacion p {
    font-size: 16px;
    margin-left: 10vh;
    line-height: 3.2vh;
    text-align: justify;
}

.contenedorpresentacion img {
    margin-left: 8vw;
    max-height: 27vh;
    max-width: 20vw;
}


/* inicio estilo main medio xd*/

main {
    position: relative;
    top: 22vh;
    left: 0;
    height: 75vh;
    width: 100vw;
    text-align: justify;
}

main .contenido .post h1 {
    width: 75%;
    margin: 3.5%;
    color:var(--color-letra);
}

main .contenido .post p {
    font-size: 16px;
    margin: 3.5%;
    line-height: 5vh;
    color: var(--color-letra);
    text-align: justify;
}


/* inicio estilo planes*/

.container {
    width: 80%;
    margin: 3.5%;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.container2 {
    width: 25%;
    margin: 1.0%;
    justify-content: center;
}

.box {
    position: flex;
    min-height: 30%;
    min-width: 25%;
    margin: 2.5%;
    border-radius: 20px;
    background: var(--color-fondosn);
    transition: 0.5s;
    text-align: justify;
    cursor: pointer;
    
}

.box i {
    font-size: 250%;
    display: block;
    text-align: center;
    margin: 2%;
    padding: 2%;
    margin-top: 0.5vh;
    color: var(--color-fondos);
}

.box h2 {
    font-size: 18px;
    text-align: center;
    color:var(--color-letra);

}
.box p {
    margin-left: 2%;
    font-size: 16px;
    color: var(--color-fondos);
    text-align: justify;
}

.box button {
    position: relative;
    margin: 5%;
    bottom: 1vh;
    width: 8vw;
    height: 5vh;
    text-align: center;
    background: var(--color-fondobotones);
    color: var(--color-letra);
    border:3px solid var(--color-bordes-normales) ;
    border-radius: 15px;
    transition: 1.2s;
    cursor:pointer;
    font-size: 15px;
}

.box:hover {
    border: 2px solid var(--color-fondos);
    cursor: pointer;
    transform: scale(1.1);
}

.box:hover i {
    color: var(--color-fondos);
}

.box:hover p:hover {
    color: var(--color-fondos);
}

.box button:hover {
    border: 2px solid var(--color-fondos);
    cursor: pointer;
    transform: scale(1.1);
}

.btn-subir {
    position: relative;
    margin-left: 40vw;
    height: 8vh;
    width: 15%;
    text-align: center;
    background: var(--color-fondobotones);
    color: var(--color-letra);
    border:3px solid var(--color-bordes-normales) ;
    border-radius: 15px;
    transition: 1.2s;
    cursor:pointer;
    font-size: 15px;
}

.btn-subir i {
    font-size: 5vh;
}

.btn-subir:hover {
    border: 1px solid var(--color-fondos);
    cursor: pointer;
    transform: scale(1.1);
}


/* en caso de no funcionar borrar*/


/* estilo boton subir */


/* fin estilo boton  subir*/