*{
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
}

:root{
  --color-letra: #fff;
  --color-fondos: #fb4c0d;
  --color-fondobotones: #252525;
  --color-bordes-normales: #303030;
}


.carousel {
    position: relative;
    top: 15vh;
    left: 30%;
    height:fit-content;
    width:60vw;
  }
  
  .carousel__item {
    height: 70vh;
    width: 45vw;
    padding: 1em;
    font-size: 2em;
    color: #ffffff;
    border-radius: 10px;
    display: none;
    align-items: center;
  }
  
  .carousel__item--selected {
    display: block;
  }
  
  .carousel__nav {
    min-height: fit-content;
    max-width: fit-content;
    min-width: 1vw;
    max-width: 1vw;
    position: relative;
    top: -52vh;
    margin-left: 2vw;
    text-align: center;
  }
  
  .carousel__button {
    width: 0.9vw;
    height: 1.5vh;
    display: inline-block;
    background: #fff;
    border-radius: 1px;
    margin: 10px 10px;
    cursor: pointer;
    transition: 0.5s;
  }

  .carousel__button:hover{
      transform: scale(1.5);
  }
  
  .carousel__button--selected {
    background: #fb4c0d;
  }
  
  body {
    margin: 0;
  }

  .swiper-hero{
    position:relative ;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 9%;
    margin-right: 0%;
    height: 85%;
    width: 95%;
    border-radius: 5px;
    background: transparent;
    text-align: justify;
  }

  .swiper-hero .btn-m{
    position: relative;
    top: -5%;
    left: 43%;
    height: 6vh;
    width: 3vw;
    border-radius: 10px;
    background: #353535;
    transition: 0.5s;
  }

  .swiper-hero .btn-m:hover{
      transform: scale(1.1);
      background: #fb4c0d;
      color: #fff;
      cursor: pointer;
  }

  .swiper-hero .zzz{
    position: relative;
    font-size: 14px;
    top: 35%;
    left: 28%; 
    color: #fff;
  }


  .swiper-slide {
    width:100%;
  }

  .swiper-hero p {
      margin-top: 1vh;
    margin-left: 3vw;
    font-size: 16px;
    color: #fff;
    object-fit: cover;
  }

  .swiper-hero .swiper-button-prev
  {
    --swiper-navigation-size: 20px;
    background-color: transparent;
    margin-left: 1vw ;
    color: #fff;
    height: 50px;
    width: 30px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  
  .swiper-hero .swiper-button-next {
    --swiper-navigation-size: 20px;
    background-color: transparent;
    margin-right: 1vw;
    color: #fff;
    height: 50px;
    width: 30px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .swiper-hero .swiper-button-prev:hover{
    color: #fb4c0d;
  }
  .swiper-hero .swiper-button-next:hover{
      color: #fb4c0d;
  }

  .swiper-hero .swiper-button-prev {
    border-radius: 0 65px 65px 0;
    left: -10px;
  }
  .swiper-hero .swiper-button-next {
    border-radius: 65px 0 0 65px;
    right: -10px;
  }

  .swiper-hero:hover .swiper-button-prev,
  .swiper-hero:hover .swiper-button-next {
    opacity: 1;
  }

  .swiper-hero .swiper-pagination {
    --swiper-pagination-color: white;
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-inactive-color: #000;
    --swiper-pagination-bullet-inactive-opacity: 0.25;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 2px;
  }

  .swiper-hero .swiper-pagination-bullet {
    box-shadow: inset 0 0 0 1px #fff;
  }

  .swiper-hero .swiper-pagination-bullet-active {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  }

.sobretodo{
  display: none;
  position: absolute;
  top: 5vh;
  left: 3vw;
  height: 90%;
  width: 86.5%;
  background: #151515;
  border: 1.5px solid #fb4c0d;
  border-radius: 15px;
  overflow-y: scroll;
}

.sobretodo::-webkit-scrollbar {
  position: relative;
  margin-right: 2vw;
  width: 8px;
  height: 12px;
}
.sobretodo::-webkit-scrollbar-button {
  width: 12px;
  height: 12px;
}
.sobretodo::-webkit-scrollbar-thumb {
  background: #000000;
  border: 1px solid #ffffff;
  border-radius: 100px;
}
.sobretodo::-webkit-scrollbar-thumb:hover {
  background: #fb4c0d;
}
.sobretodo::-webkit-scrollbar-thumb:active {
  background: #404040;
}
.sobretodo::-webkit-scrollbar-track {
  background: #000000;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.sobretodo::-webkit-scrollbar-track:hover {
  background: #000000;
}
.sobretodo::-webkit-scrollbar-track:active {
  background: #000000;
}
.sobretodo::-webkit-scrollbar-corner {
  background: transparent;
}

.fr{
  position: relative;
  height: 99%;
  width: 95%;
}

.btn-g{
    margin: 3vh;
    min-height: 20%;
  min-width: fit-content;
  width: 38%;
    text-align: center;
    background: var(--color-fondobotones);
    color: var(--color-letra);
    border:3px solid var(--color-bordes-normales) ;
    border-radius: 15px;
    transition: 0.3s;
    cursor:pointer;
    font-size: 1rem;
}

.btn-g:hover{
  border: 1px solid var(--color-fondos);
  cursor: pointer;
  transform: scale(1.1);
}


.ingreso2{
  display: inline;
  min-height: 20%;
  min-width: fit-content;
  width: 38%;
  margin-top: 1%;
  margin-right: 2%;
  margin-left: 2.5%;
  margin-bottom: 1%;
  text-align: center;
  background: var(--color-fondobotones);
  color: var(--color-letra);
  border:3px solid var(--color-bordes-normales) ;
  border-radius: 15px;
  transition: 0.3s;
  cursor:pointer;
  font-size: 1rem;
  min-height: 3.5vh;
}
.ingreso2:hover{
cursor: text;
}


input::placeholder {
  color: white;
  font-size: 14px;
  margin: 4%;
}

.se{
  position: relative;
  margin-top: 2%;
  margin-left: 3%;
  min-height: 20%;
  min-width: fit-content;
  width: 38%;
  text-align: center;
  background: var(--color-fondobotones);
  color: var(--color-letra);
  border:3px solid var(--color-bordes-normales) ;
  border-radius: 15px;
  transition: 0.3s;
  cursor:pointer;
  font-size: 1rem;
}