:root {
  --color-letra: #fff;
  --color-fondos: #fb4c0d;
  --color-fondo-html: #020202;
  --color-fondosn: #181818;
  --color-fondobotones: #252525;
  --color-bordes: #303030;
}

* {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::placeholder {
  color: #fff;
  font-size: 18px;
}

.main_content {
  width: 72%;
  margin-top: 2%;
  margin-left: 17%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 100px;
  grid-row-gap: 100px;
}

.izquierda {
  grid-area: 1 / 1 / 2 / 2;
}
.derecha {
  grid-area: 1 / 2 / 3 / 3;
}
.homepago {
  grid-area: 2 / 1 / 3 / 2;
}

.main_contentn {
  width: 72%;
  margin-top: 2%;
  margin-left: 17%;
  display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 100px;
}

.izquierdan{
  display: flex;
}

.main_contentt{
  width: 68%;
  margin-top: 2%;
  margin-left: 17%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 2fr;
    grid-column-gap: 100px;
    }
    
    .cont-turnos-asignados{ grid-area: 1 / 1 / 2 / 2; }
    .cont-calendario-seleccionar{ grid-area: 1 / 2 / 2 / 3; }

    .cont-calendario-seleccionar{
      min-height: 35vh;
    }


.main_contentpa{
  width: 72%;
  margin-top: 2%;
  margin-left: 17%;
}
/*---------------------------------------------------*/
.imgp {
  margin-top: 5%;
  margin-left: 38%;
  max-width: 20%;
  max-height: 20%;
  border-radius: 100%;
  border: 2px solid #fb4c0d;
}

.progreso {
  margin-top: 1vh;
  margin-left: 3vh;
  color: var(--color-letra);
}

.progreso h1 {
  position: relative;
  text-align: center;
}
.progreso p {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 22px;
}

.progresoform {
  width: 90%;
  height: fit-content;
  color: var(--color-letra);
  margin: 5%;
}

.progresoform p {
  font-size: 22px;
  margin: 2%;
  color: var(--color-letra);
}

.orange {
  position: relative;
  margin-top: 4%;
  margin-left: 2%;
  margin-right: 4%;
  margin-bottom: 2em;
  height: 3.5em;
  width: 40%;
  font-size: 18px;
}

.botonenviar {
  position: flex;
  margin: 3%;
  height: 3.5em;
  width: 40%;
  font-size: 18px;
}

/* Inicio Izquierda cliente y entrenador */
.turnoultimo {
  width: 95%;
  height: fit-content;
  background: var(--color-fondos);
  border-radius: 10px;
  border: none;
  margin: 3%;
}

.turnoultimo p {
  text-align: justify;
  font-size: 22px;
  margin-top: 2%;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 2%;
  color: var(--color-letra);
}

.turnoultimo h1 {
  text-align: center;
  color: white;
}

/* Fin Izquierda cliente y entrenador */

.pago {
  position: relative;
  height: fit-content;
  width: 90%;
  background: #fb4c0d;
  margin: 5%;
  border-radius: 15px;
}

.pago p {
  font-size: 22px;
  position: relative;
  color: #fff;
  margin: 2vh;
  text-align: justify;
}
