:root{
    --color-letra: #fff;
    --color-fondos: #fb4c0d;
    --color-fondo-html:#020202;
    --color-fondosn:#181818;
    --color-fondobotones: #252525;
    --color-bordes: #303030;
}

*{
    margin: 0%;
    padding: 0%;
}

html{
    background-image: url("../img/fondo_icon.png");
}

body {
    background: #000;
    max-width: 100vw;
    max-height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 1.5fr 2.2fr 0.4fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

header {
    top: 0%;
    left: 0%;
    height: 8vh;
    width: 100%;
}

a {
    text-decoration: none;
    outline: none;
}

/*---------------------------------------------------------------------------------------------------------------------------*/

.barranav {
    position: sticky;
    height: 100%;
    width: 100%;
}

.contenedorbtnnav {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.contenedorbtnnav a {
    font-size: 2rem;
    color: #fff;
    display: inline-block;
    padding: 3vh;
    width: 90%;
    text-align: center;
    color: #fff;
    transition: .8s ease-out all;
}

.contenedorbtnnav a:hover {
    background: var(--color-fondos);
    color: var(--color-letra);
    text-decoration: none;
}

/*---------------------------------------------------------------------------------------------------------------------------*/


.contenedorimagen img {
    position: relative;
    height: 100vh;
    width: 90vw;

}

.contenedorimagen {
    position: relative;
    height: 80vh;
    width: 100%;
    text-align: center;
}

.imgemus {
    width: 100vw;
    height: 100vw;
}

.contenedorpresentacion {
    position: absolute;
    margin: 2%;
    top: 15%;
    left: 5%;
    max-width: 35vw;
    max-height: 60vh;
    color: #ffffff;
    border-radius: 30px;
    text-align: left;
    font-size: medium;
}

.contenedorpresentacion p {
    font-size: 1.8rem;
    margin: 5%;
    line-height: 3.2vh;
    line-height: min(1.2em);
    text-align: justify;
}

.contenedorpresentacion img {
    margin-left: 8vw;
    max-height: 27vh;
    max-width: 20vw;
}

/*---------------------------------------------------------------------------------------------------------------------------*/


.a3{
    position: relative;
    width: 99.7%;
    margin-top: 40vh;
}

.a3 h2{
    color: #fff;
    font-size: 3rem;
    margin: 4%;
}

.a3 p{
    color: #fff;
    font-size: 1.4rem;
    margin: 4%;
    text-align: justify;
}

.barradcontacto{
    border: 2px solid orange;
}

/*---------------------------------------------------------------------------------------*/


.footer-basic {
    padding: 24px 0;
    background-color: #fb4c0d;
    color: #ffffff;
  }
  
  .footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 0;
  }
  
  .footer-basic li {
    padding: 0 10px;
  }
  
  .footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
  }
  
  .footer-basic ul a:hover {
    opacity: 1;
  }
  
  .footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
  }
  
  .footer-basic .social > a {
    font-size: 2rem;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity: 0.9;
  }
  
  .footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
  }
  