:root{
    --color-letra: #fff;
    --color-fondos: #fb4c0d;
    --color-fondo-html:#020202;
    --color-fondosn:#181818;
    --color-fondobotones: #252525;
    --color-bordes: #303030;
    --color-dias-no: #808080;
}

*{
    margin: 0%;
    padding: 0%;
    font-family: "Lucida Console", "Courier New", monospace;
}

html{
    background: var(--color-fondo-html);
}

.cont-body-turnos {
    position: relative;
    top: 5%;
    left: 30vh;
    display: flex;
    margin: 12vh;
    height: fit-content;
    width: 78vw;
    background: var(--color-fondosn);
    border-radius: 35px;
    border: 1.5px solid var(--color-bordes);
}

.cont-turnos-asignados {
    position: flex;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: none;
    height: fit-content;
    width: 50%;
    border-top-right-radius: 0%;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 30px;
}

.header {
    position: relative;
    top: 0%;
    left: 0%;
    height: fit-content;
    width: 100%;
    border-top: none;
    border-bottom: 2px solid var(--color-fondos);
    border-right: none;
    border-left: none;
    border-top-right-radius: 0%;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0px;
    text-align: center;
}

.header p {
    margin-top: 8%;
    color: var(--color-letra);
    font-size: 22px;
}

.turno-a {
    position: relative;
    top: 0%;
    left: 0%;
    height: 30%;
    width: 88%;
    margin-top: 4%;
    margin-left: 5%;
    border: none;
    border-radius: 5px;
    background: var(--color-fondos);
}

.turno-php {
    position: relative;
    top: 0%;
    left: 0%;
    height: 30%;
    width: 88%;
    margin-top: 4%;
    margin-left: 5%;
    border: none;
    border-radius: 5px;
    background: var(--color-fondos);
}

.turno-a p{
    margin: 2vh;
    color: var(--color-letra);
}

.cont-calendario-seleccionar {
  position: flex;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: none;
  height: fit-content;
  width: 50%;
  border-top-right-radius: 30px;
  border-top-left-radius: 0%;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 0%;
}

.header2 {
    position: relative;
    top: 0%;
    left: 0%;
    height: fit-content;
    width: 100%;
    border-top: none;
    border-bottom: 2px solid orangered;
    border-right: none;
    border-left: none;
    border-top-right-radius: 0%;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0px;
    text-align: center;
}

.header2 p {
  margin-top: 8%;
  color: var(--color-letra);
  font-size: 22px;
}

h3{
    margin: 2vh;
    color: var(--color-letra);
    font-size: 22px;
}

form{
    position: relative;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: none;
    height: fit-content;
    width: 100%;
    background: var(--color-bordes);
}

select
 {
    position: relative;
    left: 1vw;
    margin-top: -2vh;
    height: 6vh;
    width: 44%;
    text-align: center;
    background: var(--color-fondobotones);
    color: var(--color-letra);
    border:3px solid var(--color-bordes-normales) ;
    border-radius: 15px;
    transition: 1.2s;
    cursor:pointer;
    font-size: 15px;
}

.cont-calendario-seleccionar select:hover {
    border: 1px solid var(--color-fondos);
    cursor: pointer;
    transform: scale(1.1);
}

.ingreso-t{
    position: relative;
    left: -1.5vw;
    margin-top: 1vh;
    margin-left: 5vh;
    margin-bottom: 2vh;
    height: 6vh;
    width: 80%;
    text-align: center;
    background: var(--color-fondobotones);
    color: var(--color-letra);
    border:3px solid var(--color-bordes-normales) ;
    border-radius: 5px;
    transition: 1.2s;
    cursor:pointer;
    font-size: 12px;
}

.cont-calendario-seleccionar button {
    position: flex;
    margin: 5vh;
    height: 6.5vh;
    width: 35%;
    text-align: center;
    background: var(--color-fondobotones);
    color: var(--color-letra);
    border:3px solid var(--color-bordes-normales) ;
    border-radius: 15px;
    transition: 1.2s;
    cursor:pointer;
    font-size: 15px;
}

.botonguardado {
    position: relative;
    left: 1vw;
    margin: 2vh;
    height: 6.5vh;
    width: 50%;
    text-align: center;
    background: var(--color-fondobotones);
    color: var(--color-letra);
    border:3px solid var(--color-bordes-normales) ;
    border-radius: 15px;
    transition: 1.2s;
    cursor:pointer;
    font-size: 15px;

}

.botonguardado:hover {
    border: 1px solid var(--color-fondos);
    cursor: pointer;
    transform: scale(1.1);

}

.cont-calendario-seleccionar button:hover {
    border: 1px solid var(--color-fondos);
    cursor: pointer;
    transform: scale(1.1);
}

.hora{
    position: relative;
    margin-left: 2vw;
}


/*inicio del estilo del datapicker*/

.cursorily{ cursor: pointer;}

.hov:hover{ color: var(--color-fondos);}

.ico-size{font-size: 15px;}

.ico-size-month{font-size: 26px!important; line-height: 26px!important;}

.ico-size-large{ font-size: 40px!important; line-height: 30px;}

.dtp_main{  position: relative;
    left: -8vw;
    margin-top: 3vw;
    align-items: center;
    height: 4.5vh;
    width: 15vw;
    text-align: center;
    background: var(--color-fondobotones);
    color: var(--color-letra);
    border:3px solid var(--color-bordes-normales) ;
    border-radius: 15px;
    transition: 1.2s;
    cursor:pointer;
    font-size: 15px;
    padding: 8px 0 8px 8px;}

.dtp_main:hover{
    border: 1px solid var(--color-fondos);
    cursor: pointer;
    transform: scale(1.1);
}

.dtp_main span, .dtp_main i{ display: inline-block; padding-right: 8px;}

.dtp_modal-win{position: fixed;left: 0; top: 0; width: 100%; height: 100%;
    z-index: 999; background-color:var(--color-fondosn); opacity: 0.9;} /* fondo datapicker desplegado*/

.dtp_modal-content{ background-color: var(--color-fondosn); border-radius: 10px; width: 624px;
    position: absolute; z-index: 1000; top: 100px; left: 100px; font-size: 16px;font-weight: normal;}

.dtp_modal-content-no-time{ background-color: var(--color-fondobotones); border-radius: 10px; width: 20vw;
    position: absolute; z-index: 1000; top: 100px; left: 100px; font-size: 15px; font-weight: normal;}

.dtp_modal-title{ border-bottom: solid 3px var(--color-bordes); padding: 16px 36px; margin-bottom: 16px;  font-size: 22px; color: var(--color-letra); }

.dtp_modal-cell-date{ width: 312px;  float: center; margin-bottom: 22px; margin-top: 6px;}

.dtp_modal-cell-time{width: 311px; float: left; direction: ltr; border-right: solid 1px var(--color-bordes);}

.dtp_modal-months{ color: var(--color-letra); text-align: center; font-size: 20px; padding: 0 20px;}

.dtp_modal-months span{ display: inline-block; padding: 10px 20px; width: 182px;}

.dtp_modal-calendar{ width: 266px; margin-left: 22px; color: var(--color-letra); }

.dtp_modal-calendar-cell{ width: 38px; padding: 7px 0; display: inline-block; text-align: center;}

.dtp_modal-colored{ color: var(--color-letra);}

.dtp_modal-grey{ color: var(--color-dias-no); }

.dtp_modal-cell-selected{ background-color: var(--color-fondos); border-radius: 48%;  transition: background-color 1s ease-out;}

.dtp_modal-time-block{ height: 212px; width: 310px; }

.dpt_modal-button{ background-color: #54646b; color: #fff; font-size: 24px; padding: 8px 40px; float: left;
    text-align: center; display: inline-block; margin-left: 22px; cursor: pointer; border: solid 1px #fff;
border-radius: 3px;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

.dtp_modal-time-line{ text-align: center; color: #7d7d7d; font-size: 20px; padding-top: 15px;  }

.dtp_modal-time-mechanic{ padding-top: 16px;}

.dtp_modal-append{ color: #7d7d7d; padding-left: 108px; font-weight: normal; }

.dtp_modal-midle{ display: inline-block; width: 40px; }

.dtp_modal-midle-dig{display: inline-block; width: 16px; text-align: center; }

.dtp_modal-digits{ font-size: 50px; padding-left: 96px;}

.dtp_modal-digit{  }

/* estilo del time picker*/

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}



.time-picker {
	display: flex;
    position: relative;
    left: -10vw;
	justify-content: space-around;
	align-items: center;
	height: 6vh;
	width: 10vw;
	margin: 0 auto;
	padding: 25px 15px;
	background: #252525;
	border-radius: 8px;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	user-select: none;
}

.time-picker .hour,
.time-picker .minute {
	position: relative;
	min-width: 20px;
	text-align: center;
	display: flex;
	justify-content: stretch;
	align-items: stretch;
}

.time-picker .hour .hr,
.time-picker .minute .min {
	background: none;
	font-size: 18px;
	color: #fff;
	appearance: none;
	border: none;
	outline: none;
	display: block;
	width: 100%;
	text-align: center;
}

.time-picker .hour .hr-up,
.time-picker .hour .hr-down,
.time-picker .minute .min-up,
.time-picker .minute .min-down {
	position: absolute;
	margin-bottom: -3.5vh;
	left: 50%;
	transform: translateX(-50%);

	width: 0.2vw;
	height: 1vh;

	border-left: 20px solid transparent;
	border-right: 20px solid transparent;

	cursor: pointer;
}




.time-picker .hour .hr-up,
.time-picker .minute .min-up {
	top: -35px;
	border-bottom: 20px solid #fff;
}

.time-picker .hour .hr-down,
.time-picker .minute .min-down {
	bottom: -5px;
	border-top: 20px solid #fff;
}

.time-picker .hour .hr-up:hover,
.time-picker .hour .hr-down:hover,
.time-picker .minute .min-up:hover,
.time-picker .minute .min-down:hover {
	border-bottom-color: #fb4c0d;
	border-top-color: #fb4c0d;
}