/* inicio configuracion css*/

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #202020;
    min-width: 100vh;
    min-height: 100vw;
    text-align: justify;
}

header {
    top: 0%;
    left: 0%;
    height: 8vh;
    width: 100%;
}

a {
    text-decoration: none;
    outline: none;
}


/* fin configuracion css*/


/* NO TOCAR */


/* inicio estilo header */

.barranav {
    position: sticky;
    height: 100%;
    width: 100%;
    background: rgb(237,25,0);
    background: linear-gradient(180deg, rgba(237,25,0,0.7384686296393557) 0%, rgba(251,76,13,1) 50%, rgba(252,165,69,1) 100%); 
}

.contenedorbtnnav {
    max-width: 1000px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.contenedorbtnnav a {
    color: #fff;
    display: inline-block;
    padding: 3vh;
    width: 100%;
    text-align: center;
    color: #fff;
    transition: .3s ease-out all;
}

.contenedorbtnnav a:hover {
    background: #D16F0E;
    color: #000;
    text-decoration: none;
}


/* fin estilo header */


/* NO TOCAR*/


/* NO TOCAR*/


/* comienzo estilo footer (pie de pagina) */

.barracontacto {
    position: relative;
    top: 110vh;
    height: 25%;
    width: 100%;
    color: #fff;
    text-align: left;
    background: linear-gradient(0deg, #D16F0E, transparent);
}

.titulo2 {
    width: 80%;
    margin: 3.5%;
    color: #ffffff;
}

.linkcontacto {
    height: 40%;
    width: 80%;
    text-align: left;
}

.linkcontacto i {
    margin-top: 0;
    margin-right: 1%;
    margin-left: 6.5%;
    margin-bottom: 3.5%;
    font-size: 3.2vh;
    color: #000;
}

.linkcontacto a {
    font-size: 20px;
    margin-left: 1%;
    text-decoration: none;
    color: #fff;
}

.barracontacto p {
    font-size: 20px;
    margin-top: 0;
    margin-left: 3.5%;
    margin-right: 0;
    margin-bottom: 3.5%;
    text-decoration: none;
    color: #fff;
    text-align: justify;
}

.linkcontacto a:hover {
    color: #000;
}


/* fin estilo footer (pie de pagina) */


/* NO TOCAR*/


/* inicio estilo contenedor de imagen y div presentacion */

.contenedorimagen img {
    position: relative;
    height: 100vh;
    width: 100%;
    text-align: center;
}

.contenedorimagen {
    position: relative;
    height: 80vh;
    width: 100%;
    text-align: center;
}

.imgemus {
    width: 100vw;
    height: 100vw;
}

.contenedorpresentacion {
    position: absolute;
    top: 15%;
    left: 5%;
    height: fit-content;
    width: 65vh;
    color: #ffffff;
    border-radius: 30px;
    text-align: left;
    font-size: medium;
}

.contenedorpresentacion p {
    margin-left: 10vh;
    line-height: 3.2vh;
    text-align: justify;
}

.contenedorpresentacion img {
    margin-left: 10vh;
    max-height: 27vh;
    max-width: 20vw;
}


/* inicio estilo main medio xd*/

main {
    position: relative;
    top: 22vh;
    left: 0;
    height: 75vh;
    width: 100vw;
    text-align: justify;
}

main .contenido .post h1 {
    width: 75%;
    margin: 3.5%;
    color: white;
}

main .contenido .post p {
    font-size: 20px;
    margin: 3.5%;
    line-height: 5vh;
    color: white;
    text-align: justify;
}


/* inicio estilo planes*/

.container {
    width: 80%;
    margin: 3.5%;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.container2 {
    width: 25%;
    margin: 1.0%;
    justify-content: center;
}

.box {
    position: flex;
    min-height: 30%;
    min-width: 25%;
    margin: 2.5%;
    border-radius: 20px;
    background: rgb(237,25,0);
    background: linear-gradient(180deg, rgba(237,25,0,0.7384686296393557) 0%, rgba(251,76,13,1) 50%, rgba(252,165,69,1) 100%); 
    border: none;
    transition: 0.5s;
    text-align: justify;
    cursor: pointer;
    
}

.box i {
    font-size: 250%;
    display: block;
    text-align: center;
    margin: 2%;
    padding: 2%;
    margin-top: 0.5vh;
    color: #D16F0E;
}

.box h2 {
    text-align: center;
    color:#fff;

}
.box p {
    margin-left: 2%;
    font-size: 20px;
    color: #D16F0E;
    text-align: justify;
}

.box button {
    position: relative;
    margin: 5%;
    bottom: 1vh;
    width: 8vw;
    height: 5vh;
    background: #252525;
    color: #fff;
    align-items: center;
    border: 1.5px solid #D16F0E;
    border-radius: 20px;
}

.box:hover {
    cursor: pointer;
    transform: scale(1.1);
    background: #D16F0E;
    color: #000;
    z-index: 2;
    box-shadow: 2px 2px 2px #000;
}

.box:hover i {
    color: #000;
}

.box:hover p:hover {
    color: #000;
}

.box button:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: #D16F0E;
    background: #000;
}

.btn-subir {
    cursor: pointer;
    position: relative;
    top: 5%;
    left: 40%;
    align-items: center;
    margin: 5%;
    height: 10vh;
    width: 10vw;
    border-radius: 10%;
    background-color: #252525;
    color: #fff;
    border: 1.5px solid #fff;
    transition: 0.5s;
}

.btn-subir i {
    font-size: 5vh;
}

.btn-subir:hover {
    transform: scale(1.1);
    background-color: #252525;
    color: #D16F0E;
    border: 1.5px solid #D16F0E;
}


/* en caso de no funcionar borrar*/


/* estilo boton subir */


/* fin estilo boton  subir*/