.wrapper 
{
    display: flex;
    position: relative;
    background: transparent;
}

.wrapper .menulateral 
{
    width: 13.5vw;
    height: 100vh;
    background: var(--color-fondosn);
    padding: .5vh;
    position: fixed;
}

.wrapper .menulateral img {
    position: relative;
    margin-top: 2vh;
    margin-bottom: 2vh; 
    margin-left: 20%;
    height: 12vh;
    width: 8vw;
}

.wrapper .menulateral ul li 
{
    padding: 2vh;
    border-top: 1px solid var(--color-bordes);
    border-bottom: 1px solid var(--color-bordes);
    border-left: none ;
    border-right: none;
}

.wrapper .menulateral ul li a {
    color: var(--color-letra);
    font-size: 18px;
    padding: 1.5vh;
    display: block;
    transition: 0.5s;
    text-decoration: none;
}

.wrapper .menulateral ul li :hover {
    transform: scale(1.1);
    background:var(--color-fondos);
    color: var(--color-letra); 
}

.wrapper .menulateral ul li a .fas {
    width: 2vw;
}


.salida button {
    position: absolute;
    bottom: 2%;
    left: 60%;
    display: flex;
    
}

.btn-exit {
    display: block;
    width: 5vw;
    height: 5vh;
    line-height: 19%;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 3vh;
    margin-right: 5vw;
    background:var(--color-fondobotones);
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    position: relative;
    letter-spacing: 2px;
    color: var(--color-letra);
    border:3px solid var(--color-bordes-normales) ;
    border-radius: 15px;
    transition:0.5s;
    transition: all .35s;
    cursor:pointer;
}
.btn-exit i{
    margin-top: 10%;
    margin-left: 35%;
}

.btn-exit:hover{
    color: var(--color-fondos);
    border: 2px solid var(--color-fondos);
    cursor: pointer;
    transform: scale(1.1);
}

.imagenlogo{
    width: 100px;
    height: 60px;
    margin-left: 45px;
    margin-top: -25px;
}
