*
{
    padding:0 ;
    margin: 0;
}

body{
    background: #000;
}

hr{
    margin-left: 15%;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 75vw;
    color: #fb4c0d;
}

h2 {
    color: #fff;
    text-align: center;
}


.ejercicio
{
    position: relative;
    margin: 4.5%;
    height: 30vh;
    width: 92%;
    background: #101010;
    border-radius: 20px;
    border: 2px solid #fb4c0d;
    
}

.ejercicio p
{
    margin: 2%;
    color: #fff ;
    font-size: 25px ;
    /*font-family: ; */
    text-align: justify;
}

.ingreso
{
    position: relative;
    margin: 2%;
    height: 18%;
    width: 28%;
    background: #252525;
    border: none;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    /*font-family: ;*/
}

.ingreso:focus
{
    color: #fb4c0d;
    border: 1px solid #fb4c0d;
}


.btng
{
    position: relative;
    height: 18%;
    width: 20%;
    background: #252525;
    border: none;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    /*font-family: ;*/
}

.btng:hover
{
    color: #fb4c0d;
    border: 1px solid #fb4c0d;
}