*{
    margin: 0%;
    padding: 0%;
    font-family: "Lucida Console", "Courier New", monospace;
}

:root{
    --color-letra: #fff;
    --color-fondos: #fb4c0d;
    --color-fondobotones: #252525;
    --color-bordes-normales: #303030;
    --color-letras-gris: #555555;
}

hr{
    height: 3px;
    color: var(--color-fondos);
    background: var(--color-fondos);
}

h4{
        margin-top: 3vh;
        margin-left: 3vh;
        margin-bottom: 0vh;
        font-size: 20px;
        color: var(--color-letra);
}

.cont-t-u{

    position: relative;
    margin-top: 4vh;
    margin-left: 1vw;
    height: fit-content;
    width: 81vw;
    background-color: var(--color-fondobotones) ;
    border: 3px solid var(--color-bordes-normales) ;
    border-radius: 10px;
}

.cont-t-u::-webkit-scrollbar{
    width: 5%;
    background: var(--color-fondobotones);
}
.form-control{
    position: relative;
    margin-top: 5vh;
    margin-left: 5vh;
    margin-bottom: 2vh;
    height: 3.5vh;
    width: 25%;
    text-align: center;
    background: var(--color-fondobotones);
    color: var(--color-letra);
    border:3px solid var(--color-bordes-normales) ;
    border-radius: 15px;
    transition: 1.2s;
    cursor:pointer;
    font-size: 15px;
}

.form-control:focus{
    border: 1px solid var(--color-fondos);
    cursor: pointer;
    transform: scale(1.1);
}

.table{
position: relative;
height: fit-content;
width: 81vw;
text-align: center;
}

.col-h{
    position: relative;
    margin: 1%;
    font-size: 22px;
    color: var(--color-letras-gris);
}

.fila{
    color: var(--color-letra);
    font-size: 16px;
    transition: 0.5s;
}

.fila:hover{
    transform: scale(1.03);
    background: var(--color-fondos);
}

.btnr{
    position: flex;
    margin: 1vh;
    height: 4vh;
    width: 25%;
    text-align: center;
    background: var(--color-fondobotones);
    color: var(--color-letra);
    border:3px solid var(--color-bordes-normales) ;
    border-radius: 15px;
    transition: 1.2s;
    cursor:pointer;
    font-size: 15px;
}

.btnr:hover{
    border: 1px solid var(--color-fondos);
    cursor: pointer;
    transform: scale(1.1);
}

.foto{
    position: relative;
    left: 25%;
    margin: 2vh;
    height: 10vh;
    width: 5vw;
    border-radius: 50%;
    border: 1px solid var(--color-fondos);
}