*{
    margin: 0%;
    padding: 0%;
    font-family: "Poppins", sans-serif;
}


.contenedor-pagos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100% 50%;
}

.contenedor-cuerre-texto {
    color: var(--color-letra);
    height: fit-content;
    margin-top: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 2vh;
    border-radius: 20px;
    border: 1px solid var(--color-bordes);
    background: var(--color-fondosn);
}

.contenedor-cuerre-texto img {
    margin-top: 5%;
    margin-left: 22%;
    margin-bottom: 5%;
    width: 50%;
    height: 50%;
}

.contenedor-cuerre-texto h2
{
    color: var(--color-letra);
    line-height: 3.8vh;
    font-size: 90%;
    margin: 5%;
    font-size: 24px;
}

.contenedor-cuerre-texto
p {
    color: var(--color-letra);
    line-height: 3.8vh;
    font-size: 90%;
    margin: 5%;
    font-size: 22px;
}

.mostrar-pago {
    color: var(--color-letra);
    height: fit-content;
    grid-row: 1;
    grid-column: 2;
    margin-top: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 2vh;
    background: var(--color-fondosn);
    border: var(--color-fondos);
    border-radius: 20px;
}

.notificacion {
    color: var(--color-letra);
    margin: 5%;
    position: relative;
    background: var(--color-fondosn);
    border: var(--color-fondos);
    border-radius: 10px;
}

.notificacion p {
    color: var(--color-letra);
    line-height: 3.8vh;
    font-size: 22px;
    margin: 5%;
}

