*{
    margin: 0%;
    padding: 0%;
    font-family: "Lucida Console", "Courier New", monospace;
}

:root{
    --color-letra: #fff;
    --color-fondos: #fb4c0d;
    --color-fondobotones: #252525;
    --color-bordes-normales: #303030;
}

hr{
    height: 3px;
    color: var(--color-fondos);
    background: var(--color-fondos);
}

input [type="checkbox"]{
    height: 2vh;
    width: 2vh;
}

.contenedortabla{

    position: relative;
    margin-top: 4vh;
    margin-left: 1vw;
    height: fit-content;
    width: 81vw;
    background-color: var(--color-fondobotones) ;
    border: 3px solid var(--color-bordes-normales) ;
    border-radius: 10px;
}

.contenedortabla h4{
    margin-top: 3vh;
    margin-left: 3vh;
    margin-bottom: 0vh;
    font-size: 20px;
    color: var(--color-letra);
}


.form-control{
    position: relative;
    margin-top: 5vh;
    margin-left: 5vh;
    margin-bottom: 2vh;
    height: 3.5vh;
    width: 25%;
    text-align: center;
    background: var(--color-fondobotones);
    color: var(--color-letra);
    border:3px solid var(--color-bordes-normales) ;
    border-radius: 15px;
    transition: 1.2s;
    cursor:pointer;
    font-size: 15px;
}

.form-control:focus{
    border: 1px solid var(--color-fondos);
    cursor: pointer;
    transform: scale(1.1);
}

.table{
position: relative;
height: fit-content;
width: 81vw;
text-align: center;

}
.filah{
    color: var(--color-letra);
    font-size: 18px;
}

.tabla-fila{
    font-size: 15px;
    color: var(--color-letra);
}
.tabla-fila:hover{
    background: var(--color-fondos);
}

.barra-abajo{
    position: relative;
    display: flex;
    top: 0%;
    height: fit-content;
    width: 80vw;
}

#btnExportar{
    position: flex;
    margin: 3vh;
    height: 6.5vh;
    width: 15%;
    text-align: center;
    background: var(--color-fondobotones);
    color: var(--color-letra);
    border:3px solid var(--color-bordes-normales) ;
    border-radius: 15px;
    transition: 1.2s;
    cursor:pointer;
    font-size: 15px;
}

#btnExportar:hover{
    border: 1px solid var(--color-fondos);
    cursor: pointer;
    transform: scale(1.1);
}

#btnapago{
    position: flex;
    margin: 3vh;
    height: 6.5vh;
    width: 15%;
    text-align: center;
    background: var(--color-fondobotones);
    color: var(--color-letra);
    border:3px solid var(--color-bordes-normales) ;
    border-radius: 15px;
    transition: 1.2s;
    cursor:pointer;
    font-size: 15px;
}

#btnapago:hover{
    border: 1px solid var(--color-fondos);
    cursor: pointer;
    transform: scale(1.1);
}

.cuadro-admin{
    display: none;
    position: relative;
    margin: 2vh;
    height: 52vh;
    width: 45vw;
    background: transparent;
    border: 1px solid white;
    border-radius: 15px;
}

.ing1{
    position: relative;
    margin-top: 5vh;
    margin-left: 5vh;
    margin-bottom: 1vh;
    height: 3.5vh;
    width: 45%;
    text-align: center;
    background: var(--color-fondobotones);
    color: var(--color-letra);
    border:3px solid var(--color-bordes-normales) ;
    border-radius: 15px;
    transition: 1.2s;
    cursor:pointer;
    font-size: 15px;
}

.ing2{
    position: relative;
    top: 1vh;
    left: 0vw;
    margin-top: 3vh;
    margin-left: 5vh;
    margin-bottom: 2vh;
    height: 3.5vh;
    width: 45%;
    text-align: center;
    background: var(--color-fondobotones);
    color: var(--color-letra);
    border:3px solid var(--color-bordes-normales) ;
    border-radius: 15px;
    transition: 1.2s;
    cursor:pointer;
    font-size: 15px;
}

.ing1:focus{
    border: 1px solid var(--color-fondos);
    cursor: pointer;
    transform: scale(1.1);
}

#p-meses{
    position: relative;
    margin-top: 5vh;
    margin-left: 5vh;
    margin-bottom: 2vh;
    height: 3.5vh;
    width: 25%;
    color: var(--color-fondobotones);
background: rgba(255, 255, 255, 0.13);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.9px);
-webkit-backdrop-filter: blur(4.9px);
border: 1px solid rgba(255, 255, 255, 0.44);
}