:root{
    --color-letra: #fff;
    --color-fondos: #fb4c0d;
    --color-fondo-html:#020202;
    --color-fondosn:#181818;
    --color-fondobotones: #252525;
    --color-bordes: #303030;
}

*{
    margin: 0%;
    padding: 0%;
    font-family: "Lucida Console", "Courier New", monospace;
}

html{
    background: var(--color-fondo-html);
}

.cont-body-turnos {
    position: relative;
    top: 5%;
    left: 30vh;
    display: flex;
    margin: 12vh;
    height: 90vh;
    width: 78vw;
    background: var(--color-fondosn);
    border-radius: 35px;
    border: 1.5px solid var(--color-bordes);
}

.cont-turnos-asignados {
    position: flex;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: none;
    height: fit-content;
    width: 50%;
    border-top-right-radius: 0%;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 30px;
}

.header {
    position: relative;
    top: 0%;
    left: 0%;
    height: fit-content;
    width: 100%;
    border-top: none;
    border-bottom: 2px solid var(--color-fondos);
    border-right: none;
    border-left: none;
    border-top-right-radius: 0%;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0px;
    text-align: center;
}

.header p {
    margin-top: 8%;
    color: var(--color-letra);
    font-size: 22px;
}

.turno-a {
    position: relative;
    top: 0%;
    left: 0%;
    height: 35%;
    width: 88%;
    margin-top: 4%;
    margin-left: 5%;
    border: none;
    border-radius: 5px;
    background: var(--color-fondos);
}

.turno-a p{
    margin: 2vh;
    color: var(--color-letra);
}

.cont-calendario-seleccionar {
  position: flex;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: none;
  height: fit-content;
  width: 50%;
  border-top-right-radius: 30px;
  border-top-left-radius: 0%;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 0%;
}

.header2 {
    position: relative;
    top: 0%;
    left: 0%;
    height: fit-content;
    width: 100%;
    border-top: none;
    border-bottom: 2px solid orangered;
    border-right: none;
    border-left: none;
    border-top-right-radius: 0%;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0px;
    text-align: center;
}

.header2 p {
  margin-top: 8%;
  color: var(--color-letra);
  font-size: 22px;
}

select
 {
    color: white;
    background: #050505;
    height: 10vh;
    width: 40%;
    margin: 4%;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    border: none;
}

.cont-calendario-seleccionar select:hover {
    color: orangered;
    background: #101010;
    cursor: pointer;
    border: 1px solid orangered;
}

.cont-calendario-seleccionar button {
    color: white;
    background: #050505;
    height: 10%;
    width: 40%;
    margin: 4%;
    border-radius: 10px;
    font-size: 18px;
    border: none;
}

.botonguardado {
    color: white;
    background: #050505;
    height: 10%;
    width: 40%;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    position: relative;
    top: 0%;
    left: 49%;
    margin-top: 5%;

}

.botonguardado:hover {
    color: orangered;
    background: #101010;
    cursor: pointer;
    border: 1px solid orangered;

}

.cont-calendario-seleccionar button:hover {
    color: orangered;
    background: #101010;
    cursor: pointer;
    border: 1px solid orangered;
}


/*inicio del estilo del datapicker*/

.cursorily {
    cursor: pointer;
}

.hov:hover {
    color: #fb4c0d;
}

.ico-size {
    font-size: 20px;
}

.ico-size-month {
    font-size: 26px!important;
    line-height: 26px!important;
}

.ico-size-large {
    font-size: 40px!important;
    line-height: 30px;
}

.dtp_main {
    border: solid 1px #252525;
    border-radius: 10px;
    background-color: #202020;
    padding: 8px 0 8px 8px;
    color: #fff;
    text-align: center;
}

.dtp_main:hover {
    border: solid 1px #fb4c0d;
    color: #fb4c0d;
    cursor: pointer;
}


/* estilo boton desplegable */

.dtp_main span,
.dtp_main i {
    display: inline-block;
    padding-right: 1.5%;
}

.dtp_modal-win {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #202020;
    opacity: 0.7;
}


/* fondo del calendario al desplegarlo */

.dtp_modal-content {
    position: absolute;
    background-color: #050505;
    border-radius: 15px;
    width: 40%;
    z-index: 1000;
}


/* contenedor de calendario */

.dtp_modal-content-no-time {
    background-color: #fff;
    border-radius: 10px;
    width: 20%;
    position: absolute;
    z-index: 1000;
    top: 100px;
    left: 100px;
    font-size: 26px;
    font-weight: normal;
}

.dtp_modal-title {
    border-bottom: solid 3px #fb4c0d;
    padding: 16px 36px;
    margin-bottom: 16px;
    font-size: 22px;
    color: #fff;
}

.dtp_modal-cell-date {
    width: 312px;
    float: right;
    margin-bottom: 22px;
    margin-top: 6px;
    color: white;
}

.dtp_modal-cell-time {
    width: 311px;
    float: left;
    direction: ltr;
    border-right: solid 1px #000;
}

.dtp_modal-months {
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding: 0 20px;
}

.dtp_modal-months span {
    display: inline-block;
    padding: 10px 20px;
    width: 182px;
}

.dtp_modal-calendar {
    width: 266px;
    margin-left: 22px;
}

.dtp_modal-calendar-cell {
    width: 38px;
    padding: 7px 0;
    display: inline-block;
    text-align: center;
}

.dtp_modal-colored {
    color: white;
}

.dtp_modal-grey {
    color: grey;
    opacity: 0.9;
}

.dtp_modal-cell-selected {
    background-color: #fb4c0d;
    border-radius: 48%;
    transition: background-color 1s ease-out;
}

.dtp_modal-time-block {
    height: 212px;
    width: 310px;
}

.dpt_modal-button {
    background-color: #fb4c0d;
    color: #fff;
    font-size: 24px;
    padding: 8px 40px;
    float: center;
    text-align: center;
    display: inline-block;
    margin-left: 18%;
    cursor: pointer;
    border: solid 1px #fff;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dtp_modal-time-line {
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding-top: 15px;
}

.dtp_modal-time-mechanic {
    padding-top: 16px;
}

.dtp_modal-append {
    color: #fff;
    padding-left: 108px;
    font-weight: normal;
}

.dtp_modal-midle {
    display: inline-block;
    width: 40px;
}

.dtp_modal-midle-dig {
    display: inline-block;
    width: 16px;
    text-align: center;
}

.dtp_modal-digits {
    font-size: 50px;
    padding-left: 96px;
    color: #fff;
}

.dtp_modal-digit {}


/*fin del estilo del datapicker*/
