*{
    padding: 0%;
    margin:0%;
}

.contenedor-i{
    position: relative;
    margin: 5vw;
    height: 25vh;
    width: 20vw;
    display: none;
    background: #252525;
    border-radius: 15px;
}

.contenedor-i p{
    margin: 5%;
    color: #fff;
}