*{
    margin: 0%;
    padding: 0%;
    font-family: "Lucida Console", "Courier New", monospace;
}

:root{
    --color-letra: #fff;
    --color-fondos: #fb4c0d;
    --color-fondobotones: #252525;
    --color-bordes-normales: #303030;
}
