
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    background: #050505;
}


/* inicio estilo de menu*/

.wrapper {
    max-height: 70px;
    display: flex;
    position: relative;
    background: #252525;
}

.wrapper .menulateral {
    width: 200px;
    height: 100%;
    background: #252525;
    padding: 30px 0px;
    position: fixed;
}

.wrapper .menulateral h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}

.wrapper .menulateral ul li {
    padding: 15px;
    border-bottom: 1px solid #ff7514;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.wrapper .menulateral ul li a {
    color: #ff7514;
    display: block;
}

.wrapper .menulateral ul li a .fas {
    width: 25px;
}

.wrapper .menulateral ul li:hover {
    background-color: #ff7514;
}

.wrapper .menulateral ul li:hover a {
    color: #fff;
}

.wrapper .menulateral .salida button {
    position: absolute;
    bottom: 2%;
    left: 80%;
    transform: translateX(-50%);
    display: flex;
}

.wrapper .menulateral .salida .btn-exit {
    display: block;
    width: 40px;
    background: #252525;
    height: 40px;
    line-height: 45px;
    text-align: center;
    margin: 0 5px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.wrapper .main_content {
    width: 100%;
    padding-bottom: 3%;
    

    margin-left: 200px;
}

.wrapper .main_content .header {
    background: rgb(41, 41, 41);
    color: #ffffff;
    border-bottom: 1px solid #636363;

    
}
/* Header */
.headerchat {
    padding: -10px;
    background: rgb(41, 41, 41);
    color: #ffffff;
    border-bottom: 1px solid #686363;
    
}
/* Fin Header */

/* Searchbar */
body{
    background: grey;
    font-family: 'Open Sans', sans-serif;
  }
  
  .search {
      margin-left: -60%;
    width: 120%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #ff7514;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: black;
  }
  
  .searchTerm:focus{
    color: black;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #ff7514;
    background: #ff7514;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  /* Fin searchbar */
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /*Resize the wrap to see the search bar change!*/
  /* Figuras */
  .marco{
    position: absolute;
      max-height:50px;
     max-width:50px;
     background:#ff7514;
    left:95%;
     top: 14%;
     -moz-border-radius:50px;
     -webkit-border-radius:50px;
     border-radius:50px;
     
  }
  .marcou2{
      max-height:60px;
     max-width:60px;
     margin-left: 3%;
     margin-top: -3%;
     -moz-border-radius:50px;
     -webkit-border-radius:50px;
     border-radius:50px;
     
  }
  .msjbox{
      max-height:35px;
     max-width: 35px;
     margin-left: 90%;
     -moz-border-radius:50%;
     -webkit-border-radius:50%;
     border-radius:50%;
     margin-left: 90%;
     top:18px;
     position:relative;
  
  
  }
  .circulo{
      
     height:22px;
     width:22px;
     background: red;
     -moz-border-radius:50%;
     -webkit-border-radius:50%;
     border-radius:50%;
     margin-left: 89.5%;
     top:-28px;
     position:relative;
  }
  /* Fin figuras */
  /* Userbox */
  .contentchat{
    background: rgb(0, 0, 0);
    margin-left: 200px;   
    color: #ffffff;
}
.linea {
border-top: 1px solid #ff7514;
height: 2px;
max-width: 100%;
padding: 0;
margin: 20px auto 0 auto;

}
.udata{
margin-left: 10%;
margin-top: 3%;
color: white;

}
.button{
cursor: pointer;

background-color: transparent;

}
/* Fin Userbox */

/*-----CHAT*-----*/
/* U2 */
.phu2{
max-height:50px;
max-width:50px;
margin-left: 19%;
margin-top: 0.7%;
-moz-border-radius:50px;
-webkit-border-radius:50px;
border-radius:50px;
position: absolute;
}

.usuario{
margin-left: 10%;
position:absolute;
margin-top: -2%;
}

/* chat */

.chatcontent{
    margin-left: 18%;
    border: 2px solid #000;
    padding: 15px;
    overflow-y: auto;
    height: 300px;
    width: 75%;
    background-color:rgb(41, 41, 41);
    position: absolute;
}

.cont-con-msj{
    position: relative;
    display: flex;
    background-color: red;
    height: 500px;
    

}
.chatbox{
    margin-left: 18%;
    border: 2px solid #000;
    padding: 15px;
    overflow-y: auto;
    height: 300px;
    width: 75%;
    background-color:rgb(41, 41, 41);
    position: absolute;
    }

    .chatcontent{
        height: 640px;
        width: 1150px;
        background-color: #252525;
        margin-left: 210px;
        margin-top: 10px;
        margin-bottom: 5px;
        position: absolute;
        border-radius: 10px;
    }
    .users{
        height: 610px;
        width: 300px;
        margin-left: -15px;
        margin-top: -5px;
        background-color: grey;
        border-radius: 10px;
        border-color: black;
        border-width: 5px;
        
    }
    .chat{
        height: 610px;
        width: 800px;
        margin-left: 290px;
        margin-top: -610px;
        background-color: rgb(247, 147, 34);
        border-radius: 10px;
        border-color: black;
        border-width: 5px;
        position: absolute;
    }
    .menem{
        overflow-y:scroll;
        width: 500px;
        height: 300px;
        position: relative;
        background-color: red;

    }








