* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background: #252525;
    position: sticky;
    width: 100vw;
    height: 100vh;
}


/* comienzo barra de navegacion */

.navbar {
    background: linear-gradient(0deg, #D16F0E, transparent);
    position: sticky;
    top: 0;
}

.navbar a {
    color: #fff;
    display: inline-block;
    padding: 20px;
    width: 100%;
    text-align: center;
    color: #fff;
    transition: .3s ease-out all;
}

.navbar a:hover {
    background: #D16F0E;
    color: #000;
    text-decoration: none;
}

.contenedor {
    max-width: 1000px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}


/* Fin barra de navegacion */


/* * ============================== */


/* * ===== CONTENEDOR IMAGEN ====== */


/* * ============================== */

.contenedor-imagen {
    height: 100vh;
}

.contenedor-imagen img {
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover;
    object-position: 0 bottom;
}


/* * ============================== */


/* * ============ MAIN ============ */


/* * ============================== */

main {
    min-height: 100vh;
}

main .contenido p {
    margin-bottom: 20px;
    line-height: 30px;
    color: white;
}

h1,
h4 {
    color: white;
}

main .contenido .titulo {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    padding-top: 40px;
}

main .contenido .fecha {
    font-size: 14px;
    color: white;
}


/* * ============================== */


/* * ============ ASIDE =========== */


/* * ============================== */

aside {
    min-width: 30%;
    margin: 40px 20px 20px 0;
    height: 100%;
    background: linear-gradient(90deg, #D16F0E, transparent);
    padding: 20px;
    border-radius: 3px;
    position: sticky;
    top: 0;
}

aside .titulo {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 20px;
    color: #f2f2f2;
}

aside .indice a {
    list-style: none;
    display: block;
    margin-bottom: 10px;
    color: #FFCD48;
}

aside .indice a:hover {
    list-style: none;
    display: block;
    margin-bottom: 10px;
    color: #1D2F3D;
}


/* * ============================== */


/* * ========== FOOTER ============ */


/* * ============================== */

footer .navbar {
    position: sticky;
    bottom: 0;
}


/* * ============================== */


/* * ====== MEDIA QUERIES ========= */


/* * ============================== */

@media screen and (max-width: 900px) {
    .navbar .contenedor {
        flex-wrap: wrap;
        margin: 0;
        width: 100%;
    }
    .navbar a {
        width: auto;
        flex: 1;
    }
    .contenedor-imagen {
        height: 50vh;
    }
    main .contenedor {
        flex-direction: column;
    }
}


/* inicio estilo planes*/

.container {
    width: 90%;
    padding: 20px;
    margin: 100px auto;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box {
    width: 15vw;
    height: 55vh;
    border-radius: 4%;
    background: #252525;
    margin: 0px 10px;
    transition: 1s;
}

.box i {
    font-size: 250%;
    display: block;
    text-align: center;
    margin: 2%;
    padding: 2%;
    color: orange;
}

.box p,
h5 {
    font-size: 1vw;
    color: orange;
    text-align: center;
}

.box button {
    width: 8vw;
    height: 4vh;
    background: orange;
    color: black;
    align-items: center;
    padding-bottom: 2vh;
    margin-left: 2vw;
    border-radius: 20px;
}

.box:hover {
    transform: scale(1.3);
    background: #ff800a;
    color: #000;
    z-index: 2;
    box-shadow: 2px 2px 2px #000;
}

.box:hover i {
    color: #000;
}

.box:hover p,
h5 {
    color: #000;
}

.box button:hover{
    transform: scale(1.3);
    color: orange;
    background: #000;
}


/* fin estilo planes*/

.contacto
{
    display:flex;
    margin-bottom: 5%;

}

.contacto i{
    font-size: 240%;
    color: orange;
}

.contacto p{
    margin-left: 2%;
    text-indent: 180%;
    color: white;
}

.contacto a{
    margin-left: 5%;
    text-decoration: none;
    color: #fff;
}

.contacto a:hover{
    color: #ff800a;
}
